<div class='relative h-72 border-2 bg-gray-50 border-black rounded-lg width block hover:shadow-2xl transform transition-all duration-200'>
  <a>
    <%= link_to category[:slug], class: 'block transform transition-all duration-100' do %>

        

        <div class="px-5 pt-5 pb-6">
          <div class="text-lg text-left ml-2 font-medium truncate leading-tight mb-1"><%= category[:name] %></div>

          <div class="text-gray-500 text-clip text-ellipsis text-left ml-2 text-md leading-tight overflow-hidden">
            <div class="text-left h-36">
              <%= category[:body] %>
            </div>
          </div>
          <div class="absolute mt-4 right-0 mr-4">
            <a>
              <%= link_to category[:slug], class: 'block transform transition-all duration-100' do %>
                <div class="">
                  <button class="rounded border-none py-2 px-4 width-full bg-primary-500 text-white hover:bg-primary-700"><span class="">View project</span></button>
                </div>
              <% end %>
            </a>
          </div>
        </div>
    <%end%>
  </a>
</div>