<ol class="carousel-indicators">
			<li class="inline-block mr-3">
				<label id="fp-indic-1" class="carousel-bullet block text-5xl text-white text-blue-500">•</label>
			</li>
			<li class="inline-block mr-3">
				<label id="fp-indic-2" class="carousel-bullet block text-5xl text-white">•</label>
			</li>
</ol>

<button
    id="featuredProjectButtonPrev"
    class="carousel-control-prev absolute top-0 bottom-0 left-0 focus:outline-none"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon inline-block bg-no-repeat" aria-hidden="true"></span>
    <span class="visually-hidden"><%= inline_svg_pack_tag 'media/svgs/eva-prev.svg', class: 'duration-200 hover:scale-125 inline-block fill-current transform transition-transform duration-100 -translate-x-1 group-hover:translate-x-0' %></span>
</button>

<button
    id="featuredProjectButtonNext"
    class="carousel-control-next absolute top-0 bottom-0 right-0 focus:outline-none"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon inline-block bg-no-repeat" aria-hidden="true"></span>
    <span class="visually-hidden"><%= inline_svg_pack_tag 'media/svgs/eva-next.svg', class: 'duration-200 hover:scale-125 inline-block fill-current transform transition-transform duration-100 -translate-x-1 group-hover:translate-x-0' %></span>
</button>


<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>

<script>

  $(window).ready(function() {
    $("#featured-project-slider-2").hide();
    $("#featuredProjectButtonNext").on('click', function() {
      $("#featured-project-slider-1").hide();
      $("#featured-project-slider-2").show(300);
      $("#fp-indic-1").removeClass("text-blue-500");
      $("#fp-indic-2").addClass("text-blue-500");
    });
    $("#featuredProjectButtonPrev").on('click', function() {
      $("#featured-project-slider-2").hide();
      $("#featured-project-slider-1").show(300);
      $("#fp-indic-2").removeClass("text-blue-500");
      $("#fp-indic-1").addClass("text-blue-500");
    });
  })

</script>