@tailwind base;
@tailwind components;
@tailwind utilities;

/* USE !important to add custom css */

.banner {
    margin-top: -2.5rem;
    /* background-color: beige; */
    background-image: url('../../../public/giphy.gif');
    background-size: cover;
    background-repeat: no-repeat;

}