/* USE !important to add custom css */

.banner {
    /* background-color: beige; */
    background-image: url('../../../public/giphy.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

#slider-1 {
    opacity: 1;
    transition: opacity 1s;
}

#slider-1.hide {
    opacity: 0;
}

ol,
ul {
    list-style: revert;
}

.slider {
    list-style: none;
    position: relative;
    padding: 2.5rem;
    min-height: 1300px;
    transition: visibility 0s, opacity 0.5s linear;
}

@media only screen and (min-width: 640px) {
    .slider {
        list-style: none;
        position: relative;
        padding: 3.75rem;
        min-height: 1100px;
        transition: visibility 0s, opacity 0.5s linear;
    }
}

@media only screen and (min-width: 1024px) {
    .slider {
        list-style: none;
        position: relative;
        padding: 3.75rem;
        min-height: 650px;
        transition: visibility 0s, opacity 0.5s linear;
    }
}


